<blockquote>
  <p><%= @text %></p>
  <footer>Famous people and a random number generator</footer>
</blockquote>

<%= link_to 'Another Combination', random_combination_path, class: 'btn btn-primary btn-lg' %>
<%= link_to 'Back to Quotes', quotes_path, class: 'btn btn-default btn-lg' %>
